OPENWEATHER_API_KEY=
TMDB_API_KEY=

# Opcionais
# OPENWEATHER_BASE_URL=https://api.openweathermap.org
# TMDB_BASE_URL=https://api.themoviedb.org/3
# TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
# DATABASE_URL=sqlite:///./weather_movies.db
# HTTP_TIMEOUT_SECONDS=10
# HEAT_THRESHOLD_C=32
